<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("../layouts/head")%>
    <title>Details</title>
</head>

<body>
    <header>
        <%-include("../layouts/header")%>
    </header>

    <main>
        <div class="all">
            <div class="container">
                <h2>Jokes #</h2>
                <h3><%=vals.type%></h3>
                <p><%=vals.setup%></p>
                <address class="author"><%=vals.punchline%></address>

                <div>
                    <form action="/update/<%=vals.id%>?_method=put" method="POST">
                        <input type="text" name="type" value="<%=vals.type%>">
                        <textarea type="" name="setup" value="<%=vals.setup%>"><%=vals.setup%></textarea>
                        <input type="text" name="punchline" value="<%=vals.punchline%>">
                        <input type="submit" value="Update">
                    </form>
                </div>
                <div>
                    <form action="/delete/<%=vals.id%>?_method=delete" method="POST">
                        <input type="submit" value="Delete">
                    </form>
                </div>
            </div>
        </div>
    </main>

    <footer>
        <%-include("../layouts/footer")%>
    </footer>

</body>

</html>