<!DOCTYPE html>
<html lang="en">

<head>
    <%-include("../layouts/head")%>
    <title>Home</title>
</head>

<body>
    <header>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#5500fa" fill-opacity="0.25"
                d="M0,288L13.3,288C26.7,288,53,288,80,261.3C106.7,235,133,181,160,138.7C186.7,96,213,64,240,53.3C266.7,43,293,53,320,69.3C346.7,85,373,107,400,138.7C426.7,171,453,213,480,224C506.7,235,533,213,560,218.7C586.7,224,613,256,640,277.3C666.7,299,693,309,720,293.3C746.7,277,773,235,800,218.7C826.7,203,853,213,880,181.3C906.7,149,933,75,960,85.3C986.7,96,1013,192,1040,218.7C1066.7,245,1093,203,1120,181.3C1146.7,160,1173,160,1200,176C1226.7,192,1253,224,1280,208C1306.7,192,1333,128,1360,106.7C1386.7,85,1413,107,1427,117.3L1440,128L1440,0L1426.7,0C1413.3,0,1387,0,1360,0C1333.3,0,1307,0,1280,0C1253.3,0,1227,0,1200,0C1173.3,0,1147,0,1120,0C1093.3,0,1067,0,1040,0C1013.3,0,987,0,960,0C933.3,0,907,0,880,0C853.3,0,827,0,800,0C773.3,0,747,0,720,0C693.3,0,667,0,640,0C613.3,0,587,0,560,0C533.3,0,507,0,480,0C453.3,0,427,0,400,0C373.3,0,347,0,320,0C293.3,0,267,0,240,0C213.3,0,187,0,160,0C133.3,0,107,0,80,0C53.3,0,27,0,13,0L0,0Z">
            </path>
        </svg>
        <div id="header">
            <h1>
                <i class='fas fa-heart' style="color: rgba(255, 255, 255, 0.932);"></i>
                Home Page
                <i class='fas fa-heart' style="color: rgba(255, 255, 255, 0.932);"></i>
            </h1>
            <nav>
                <ul>
                    <li>
                        <a href="/">
                            Home
                        </a>
                    </li>
                    <li>
                        <a href="/details">
                            Details
                        </a>
                    </li>
                    <li>
                        <a href="/selectData">
                            Favorite
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        <% console.log(data)%>
        <div class="all">
            <% data.forEach((vals)=>{%>
            <div class="container">
                <h2>Jokes #</h2>
                <h3><%=vals.type%></h3>
                <p><%=vals.setup%></p>
                <address class="author"><%=vals.punchline%></address>

                <div>
                    <form action="/addToDb" method="get">
                        <input type="hidden" name="type" value="<%=vals.type%>">
                        <input type="hidden" name="setup" value="<%=vals.setup%>">
                        <input type="hidden" name="punchline" value="<%=vals.punchline%>">
                        <input type="submit" value="Add To Database ">
                    </form>
                </div>
            </div>
            <%})%>
        </div>
    </main>

    <footer>
        <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320">
            <path fill="#5000ca" fill-opacity="0.25"
                d="M0,224L17.1,213.3C34.3,203,69,181,103,197.3C137.1,213,171,267,206,256C240,245,274,171,309,133.3C342.9,96,377,96,411,117.3C445.7,139,480,181,514,176C548.6,171,583,117,617,96C651.4,75,686,85,720,117.3C754.3,149,789,203,823,202.7C857.1,203,891,149,926,149.3C960,149,994,203,1029,197.3C1062.9,192,1097,128,1131,85.3C1165.7,43,1200,21,1234,48C1268.6,75,1303,149,1337,170.7C1371.4,192,1406,160,1423,144L1440,128L1440,320L1422.9,320C1405.7,320,1371,320,1337,320C1302.9,320,1269,320,1234,320C1200,320,1166,320,1131,320C1097.1,320,1063,320,1029,320C994.3,320,960,320,926,320C891.4,320,857,320,823,320C788.6,320,754,320,720,320C685.7,320,651,320,617,320C582.9,320,549,320,514,320C480,320,446,320,411,320C377.1,320,343,320,309,320C274.3,320,240,320,206,320C171.4,320,137,320,103,320C68.6,320,34,320,17,320L0,320Z">
            </path>
        </svg>
        <p>BY Mohamad Sheikh-Alshabab&copy; 2020</p>
    </footer>

</body>

</html>